button {
  padding: 0;
  border: none;
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input, select {
  padding: 0;
  border: none;
}
